- pageData.theme = pageData.theme || 'dark'

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title IDC 2021 test work
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name='description' content='Первое задание школы разработки интерфейсов Яндекса')
    link(rel='apple-touch-icon' sizes='180x180' href=`/assets/images/apple-touch-icon_${pageData.theme}.png`)
    link(rel='icon' type='image/svg+xml' href=`/assets/images/favicon_${pageData.theme}.svg`)
  body.theme(class=(pageData.theme ? `theme_${pageData.theme}` : ''))
    if pageData.theme === 'light'
      include svg-sprite-light
    else
      include svg-sprite-dark
    if pageData.slide
      #output
      script!= `document.querySelector('#output').innerHTML = window.renderTemplate('${pageData.slide.alias}', '${JSON.stringify(pageData.slide.data)}');`
      script!= `window.postRenderScript('${pageData.slide.alias}', '${JSON.stringify(pageData.slide.data)}');`
